
#Skill-set {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    overflow-x: auto;
    white-space: nowrap;
}

#Skill-set::-webkit-scrollbar {
    display: none;
}
.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#Skill-set h1 {
    font-size: 5vw;
    /* background-color: lightblue; */
    display: inline-block;
    text-transform: uppercase;
}

#gola {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    background-color: #000000;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
